{{define "main"}}
	{{ range .Artists }}
    <!--Artist Card -->
   <div class="card">
      <img src="{{ .Image }}" alt="{{ .Name }}" class="card-img"> <!-- Completed class name -->
      <div class="card-content">
        <h2 class="card-title">{{ .Name }}</h2>
        <p class="card-info">Creation Date: {{ .CreationDate }}</p> <!-- Completed paragraph -->
        <p class="card-info">First Album: {{ .FirstAlbum }}</p> <!-- Completed paragraph -->
        <a href="/Details/?id={{.ID}}"><button>More Details</button></a> <!-- Completed the link and button -->
      </div>
    </div>
	{{ end }}
{{ end }}

