<!-- artists.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/style/Details.css"> <!-- Include your CSS stylesheet -->
</head>

<body>
  <body>
    <nav>
      <div class="logo"><a href="/">GROUPIE TRACKER</a></div>
    </nav>
    <div class="container">
        <div class="box">
            <div class="boxContent">
                <img src="{{ .ArtistData.Image }}" alt="{{ .ArtistData.Name }}" class="card-image">
                <div class="card-content">
                    <h2>{{ .ArtistData.Name }}</h2>
                    <p class="card-info">Creation Date: {{ .ArtistData.CreationDate }}</p>
                    <p class="card-info">First Album: {{ .ArtistData.FirstAlbum }}</p>
                    <p class="card-info">Members:</p>
                    <ul>
                        {{ range .ArtistData.Members }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="Details">
                <div class="relations">
                    <p class="card-info">Relations</p>
                        <table>
                            <THead>
                                <tr>
                                    <td>location</td>
                                    <td>date</td>
                                </tr>
                            </THead>
                            <Tbody>
                            {{range $locations, $date:= .Relations.DatesLocations}}
                            <tr>
                                <td>{{$locations}}</td>
                                <td>
                                    {{range $date}}
                                    <li>{{.}}</li>
                                    {{end}}
                                </td>
                            </tr>
                            {{end}}
                            </Tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>