<!-- artists.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Artists</title>

  <head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css" />
  </head>
  <link rel="stylesheet" href="/style/home.css" />
  <!-- Include your CSS stylesheet -->
</head>

<body>
  <nav>
    <div class="logo"><a href="/">GROUPIE TRACKER</a></div>

    <menu>
      <input type="checkbox" name="" id="togel" />
      <label for="togel">
        <i class="fi fi-rr-apps"></i>
      </label>
      <ul>
        <li><a href="#Hero">Home</a></li>
        <li><a href="#Albums">Albums</a></li>
        <li><a href="#footer">Collaborators</a></li>
      </ul>
      <!-- Include your CSS stylesheet -->
    </menu>
    <div class="search">
      <input type="checkbox" id="search-checkbox" />
      <label for="search-checkbox">
        <i class="fi fi-rr-search"></i>
      </label>
      <div class="searchBox">
        <form>
          <div class="custom-datalist">
            <input type="text" id="custom-input" placeholder="Search..." />
            <ul id="dropdown" class="dropdown-content">
              {{ range . }}
              <li class="dropdown-item" data-value="{{ .Name }}">
                <a href="/Details/?id={{.ID}}">
                  <img src="{{ .Image }}" alt="{{ .Name }}" />
                  {{.Name}}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
          <select name="Key">
            <option value="artist">Artist</option>
            <option value="location">Location</option>
            <option value="date">Date</option>
            <option value="relation">Relation</option>
          </select>
          <button type="submit">
            <i class="fi fi-rr-search"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container" id="Hero">
    <div class="hero">
      <h1>Welcome to Groupie Tracker</h1>
      <p>Stay connected with bands. Track releases, events, and more.</p>
    </div>
    <div class="cardesBox" id="Albums">
      {{ range . }}
      <!-- Artist Card -->
      <div class="card">
        <img src="{{ .Image }}" alt="{{ .Name }}" class="card-image" />
        <div class="card-content">
          <h2 class="card-title">{{ .Name }}</h2>
          <p class="card-info">Creation Date: {{ .CreationDate }}</p>
          <p class="card-info">First Album: {{ .FirstAlbum }}</p>
          <a href="/Details/?id={{.ID}}"><button>More Details</button></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <footer id="footer">
    <p>
      created by <a href="https://github.com/fihry"> Mohamed el fihry </a> and
      <a href="https://github.com/BenaliOssama"> Benali Ossama </a>
    </p>
  </footer>
  <script>
    window.addEventListener("resize", (e) => {
      var nav = document.querySelector("#togel");
      if (window.innerWidth > 768) {
        nav.checked = false;
      }
    });

    document.addEventListener("DOMContentLoaded", () => {
      const input = document.getElementById("custom-input");
      const dropdown = document.getElementById("dropdown");
      const items = dropdown.querySelectorAll(".dropdown-item");

      input.addEventListener("input", () => {
        const value = input.value.toLowerCase();
        dropdown.style.display = "none";
        items.forEach((item) => {
          if (value === "") {
            item.style.display = "block";
            dropdown.style.display = "none";
            return;
          }
          if (item.textContent.toLocaleLowerCase().includes(value)) {
            item.style.display = "block";
            dropdown.style.display = "block";
          } else {
            item.style.display = "none";
          }
        });
      });

      // items.forEach((item) => {
      //   item.addEventListener("click", () => {
      //     input.value = item.getAttribute("data-value");
      //     dropdown.style.display = "none";
      //   });
      // });

      document.addEventListener("click", (event) => {
        if (!event.target.closest(".custom-datalist")) {
          dropdown.style.display = "none";
        }
      });
    });
  </script>
</body>

</html>