<!-- artists.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists</title>
    <head>
      <!-- Other head elements -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css"
      />
    </head>
    <link rel="stylesheet" href="/style/home.css" />
    <!-- Include your CSS stylesheet -->
  </head>

  <body>
    <nav>
      <div class="logo"><a href="/">GROUPIE TRACKER</a></div>

     <menu>
      <input type="checkbox" name="" id="togel">
      <label for="togel">
        <i class="fi fi-rr-apps"></i>
      </label>
      <ul>
        <li><a href="#Hero">Home</a></li>
        <li><a href="#Albums">Albums</a></li>
        <li><a href="#footer">Collaborators</a></li>
      </ul>    <!-- Include your CSS stylesheet -->
     </menu>
    </nav>

    <div class="container" id="Hero">
       <div class="hero">
        <h1>Welcome to Groupie Tracker</h1>
        <p>Stay connected with Dune. Track releases, events, and more.</p>
       </div>
      <div class="cardesBox" id="Albums">
        {{ range . }}
        <!-- Artist Card -->
        <div class="card">
          <img src="{{ .Image }}" alt="{{ .Name }}" class="card-image" />
          <div class="card-content">
            <h2 class="card-title">{{ .Name }}</h2>
            <p class="card-info">Creation Date: {{ .CreationDate }}</p>
            <p class="card-info">First Album: {{ .FirstAlbum }}</p>
            <a href="/Details/?id={{.ID}}"><button>More Details</button></a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <footer id="footer">
      <p>created by <a href="https://github.com/fihry"> Mohamed el fihry </a> and <a href="https://github.com/BenaliOssama"> Benali Ossama </a></p>
    </footer>
    <script>
      window.addEventListener("resize", (e) => {
        var nav = document.querySelector("#togel");
        if (window.innerWidth > 768) {
          nav.checked = false;
        }
      });
    </script>
  </body>
</html>
