<!-- artists.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists</title>
    <head>
      <!-- Other head elements -->
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css"
      />
    </head>
    <link rel="stylesheet" href="/style/home.css" />
    <!-- Include your CSS stylesheet -->
  </head>

  <body>
    <nav>
      <div class="logo">GROUPIE TRACKER</div>

     <menu>
      <input type="checkbox" name="" id="togel">
      <label for="togel">
        <i class="fi fi-rr-apps"></i>
      </label>
      <ul>
        <li><a href="#Hero">Home</a></li>
        <li><a href="#Albomes">Albomes</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Colaboraters</a></li>
      </ul>
     </menu>
      <div class="search">
        <input type="checkbox" id="search-checkbox" />
        <label for="search-checkbox">
          <i class="fi fi-rr-search"></i>
        </label>
        <div class="searchBox">
          <form>
            <input type="text" name="Value" />
            <select name="Key" id="">
              <option value="artist">Artist</option>
              <option value="location">Location</option>
              <option value="date">Date</option>
              <option value="rolation">rolation</option>
            </select>
            <button type="submit">
              <i class="fi fi-rr-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container" id="Hero">
      <div class="hero">
        <section>
          <h1>Artists</h1>
          <p>Here you can find all the artists in our database</p>
        </section>
        <!--<section>
          <span
            ><a href=""
              ><button><img src="" alt="" /></button></a
          ></span>
          <span
            ><a href=""
              ><button><img src="" alt="" /></button></a
          ></span>
          <span
            ><a href=""
              ><button><img src="" alt="" /></button></a
          ></span>
          <span
            ><a href=""
              ><button><img src="" alt="" /></button></a
          ></span>
        </section> -->
      </div>
      <div class="cardesBox" id="Albomes">
        {{ range . }}
        <!-- Artist Card -->
        <div class="card">
          <img src="{{ .Image }}" alt="{{ .Name }}" class="card-image" />
          <div class="card-content">
            <h2 class="card-title">{{ .Name }}</h2>
            <p class="card-info">Creation Date: {{ .CreationDate }}</p>
            <p class="card-info">First Album: {{ .FirstAlbum }}</p>
            <a href="/Details/?id={{.ID}}"><button>More Details</button></a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <script>
      window.addEventListener("resize", (e) => {
        var nav = document.querySelector("#togel");
        if (window.innerWidth > 768) {
          nav.checked = false;
        }
      });
    </script>
  </body>
</html>
