@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /** CSS PRIMARY COLORS */
    --color-primary-a0: #ffffff;
    --color-primary-a01: #ffffff85;
    --color-primary-a10: #d5dcff;
    --color-primary-a20: #a7baff;
    --color-primary-a30: #729aff;
    --color-primary-a50: #007bff;
    --color-primary-a60: #1e5bb9;
    --color-primary-a70: #1f3d77;
    --color-primary-a80: #18213c;
    --color-primary-a90: #121212;
    --color-primary-a100: #000000;
    --color-primary-a110: #1a1a1a2a;

    /** css gradient colors */
    --color-gradient-a0: linear-gradient(145deg, #cfcfcf, #9e9e9e);
    /** css image */
    --image-hero: url("./blob-scene-haikei.png");
}


::-webkit-scrollbar {
    width: 5px;
    background-color:var(--color-primary-a100);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-a50);
    border-radius: 5px;
}

body {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: max-content;
    font-family: 'jost', sans-serif;
    background: var(--color-primary-a90);
    background: var(--image-hero);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    position: fixed;
    top: 0px;
    margin-bottom: 10px;
    width: 100vw;
    height: 70px;
    display: flex;
    border-radius: 0px 0px 22px 22px;
    justify-content: space-evenly;
    background: var(--color-primary-a80);
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.342); */
    align-items: center;
    z-index: 10;
}



nav .logo a {
    text-align: start;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary-a10);
    text-shadow: 1px 1px 1px #a7a7a7ad;
    text-decoration: none;
}

nav menu  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 4px 8px;
    
}
nav ul li:hover{
    background-color: var(--color-primary-a01);
    border-radius: 8px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primary-a10);
    font-size: 18px;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

nav ul li a:hover {
    
    border-radius: 8px;
}
nav span {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 60px;
    font-weight: 900;
    border:1px solid var(--color-primary-a10);
    border-radius: 15%;
    transition: all 150ms ease-in-out;
}

nav menu label {
    visibility: hidden;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: 35px;
    height: 35px;
}

label i {
    width: 100%;
    height: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-a10);
   
}

nav .search label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 10px;
    padding: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-primary-a10);
    border-radius: 5px;
    
}


nav  input[type="checkbox"] {
    display: none;
}

nav menu #togel:checked + label {
    background-color: var(--color-primary-a01);
    border-radius: 4px;
}
nav #search-checkbox:checked ~ .searchBox {
    visibility: visible;
}

nav .search span input[type="checkbox"]:checked ~ .searchBox {
    visibility: visible;
}
nav .search #search-checkbox:checked + label {
    background-color: var(--color-primary-a01);
    border-radius: 4px;
}
.searchBox {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 95px;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: 80vw;
    height: 90px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-primary-a80);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.342);
    z-index: 10;
}

nav menu #togel:checked + label {
    background-color: #ffffff4f;
}

nav menu #togel:checked ~ ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    width: 80%;
    min-width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    backdrop-filter: blur(10px);
    background: var(--color-primary-a01);
    /* backdrop-filter: blur(10px); */
    z-index: 100;
}

form input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
    backdrop-filter: blur(10px);
    color: var(--color-primary-a100);
    caret-color: #007bff;
    size: 20px;
    caret-color: var(--color-primary-a50);
    font-size: 14px;
}

form select {
    width: 100px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    backdrop-filter: blur(10px);
}

form button {
    width: 100px;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
    cursor: pointer;
    background: var(--color-primary-a100);
    cursor: pointer;
}
form button i {
    font-size: 12px;
    color: var(--color-primary-a0);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .hero{
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
    background-image: -webkit-linear-gradient(0deg, #960496 0%, #938610 50%, #2bc01d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.container .hero h1{
    font-size: 3em;
    margin: 0 5px;
}
.container .hero p{
    font-size: 1.5em;

    width: 70%;
}

.container .cardsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container .cardsBox span {
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding-top:100px ;
    background-image: -webkit-linear-gradient(0deg, #960496 0%, #938610 50%, #2bc01d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards{
    margin-top: 20px ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.container .cardsBox .card {
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--color-primary-a0);
    background: linear-gradient(#fff2, transparent);
    backdrop-filter: blur(10px);
}

.card p {
    font-size: 1em;
    color :var(--color-primary-a0)
}

.container .cardsBox .card:hover {
    box-shadow: 1px 2px 8px 3px rgba(197, 197, 197, 0.247);
}

.card-image {
    width: 100%;
    border-radius: 8px;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: flex-start;
    padding: 5px;
}

.card-content h2 {
    background-image: -webkit-linear-gradient(0deg, #960496 0%, #938610 50%, #2bc01d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-title {
    font-size: 1em;
    margin: 0 5px;
}

.card-info {
    font-size: 0.8em;
    margin: 4px 0px;
    border-left: 2px solid var(--color-primary-a50);
    padding: 2px 5px;
}

.card-members {
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    list-style: circle;
    padding: 8px;
    overflow-y: auto;
}

.card-members li {
    font-size: 0.7em;
}

.card-content a button {
    padding: 4px 8px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--color-primary-a100);
    font-family: 'jost', sans-serif;
    color: var(--color-primary-a0);
    background-color: var(--color-primary-a60);
}

.card-content a button:hover {
    background-color: var(--color-primary-a70);
}

footer {
    width: 100%;
    height: 70px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px 22px 0px 0px;
    background: var(--color-primary-a80);
    color: var(--color-primary-a0);
}

footer a {
    text-decoration: none;
    color: #938610;
}

@media screen and (max-width: 768px) {
    nav .logo {
        font-size: 20px;
    }

    nav menu label {
        visibility: visible;
    }

    nav menu ul {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--color-primary-a80);
        z-index: 11;
    }

    nav menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 8px;
    }

    nav .search .searchBox {
        top: 100px;
        width: 80vw;
        height: 90px;
        z-index: 11;
    }

    nav .search .searchBox form {
        width: 80%;
    }

    .container .cardsBox .card {
        width: 230px;
    }

}